/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default.disabled,
.btn-primary.disabled,
.btn-success.disabled,
.btn-info.disabled,
.btn-warning.disabled,
.btn-danger.disabled,
.btn-default[disabled],
.btn-primary[disabled],
.btn-success[disabled],
.btn-info[disabled],
.btn-warning[disabled],
.btn-danger[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-danger {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #6E8292 0%, #54636f 100%);
  background-image: -o-linear-gradient(top, #6E8292 0%, #54636f 100%);
  background-image: linear-gradient(to bottom, #6E8292 0%, #54636f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6e8292', endColorstr='#ff54636f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #4f5e69;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #54636f;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #54636f;
  border-color: #4f5e69;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #54636f;
  background-image: none;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #009EDA 0%, #00729d 100%);
  background-image: -o-linear-gradient(top, #009EDA 0%, #00729d 100%);
  background-image: linear-gradient(to bottom, #009EDA 0%, #00729d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff009eda', endColorstr='#ff00729d', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #006a93;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #00729d;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #00729d;
  border-color: #006a93;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #00729d;
  background-image: none;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #41AD49 0%, #308136 100%);
  background-image: -o-linear-gradient(top, #41AD49 0%, #308136 100%);
  background-image: linear-gradient(to bottom, #41AD49 0%, #308136 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff41ad49', endColorstr='#ff308136', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #2d7933;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #308136;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #308136;
  border-color: #2d7933;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #308136;
  background-image: none;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #4FC1E9 0%, #1cacdf 100%);
  background-image: -o-linear-gradient(top, #4FC1E9 0%, #1cacdf 100%);
  background-image: linear-gradient(to bottom, #4FC1E9 0%, #1cacdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4fc1e9', endColorstr='#ff1cacdf', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #1ba5d6;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #1cacdf;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #1cacdf;
  border-color: #1ba5d6;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #1cacdf;
  background-image: none;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #F5AB35 0%, #e28f0b 100%);
  background-image: -o-linear-gradient(top, #F5AB35 0%, #e28f0b 100%);
  background-image: linear-gradient(to bottom, #F5AB35 0%, #e28f0b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5ab35', endColorstr='#ffe28f0b', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #d8890b;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #e28f0b;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #e28f0b;
  border-color: #d8890b;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #e28f0b;
  background-image: none;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #DC3023 0%, #a7241b 100%);
  background-image: -o-linear-gradient(top, #DC3023 0%, #a7241b 100%);
  background-image: linear-gradient(to bottom, #DC3023 0%, #a7241b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc3023', endColorstr='#ffa7241b', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #9e2319;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #a7241b;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #a7241b;
  border-color: #9e2319;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #a7241b;
  background-image: none;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #92a1ad 0%, #8495a2 100%);
  background-image: -o-linear-gradient(top, #92a1ad 0%, #8495a2 100%);
  background-image: linear-gradient(to bottom, #92a1ad 0%, #8495a2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff92a1ad', endColorstr='#ff8495a2', GradientType=0);
  background-color: #8495a2;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #009EDA 0%, #008cc1 100%);
  background-image: -o-linear-gradient(top, #009EDA 0%, #008cc1 100%);
  background-image: linear-gradient(to bottom, #009EDA 0%, #008cc1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff009eda', endColorstr='#ff008cc1', GradientType=0);
  background-color: #008cc1;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #47525e 0%, #313941 100%);
  background-image: -o-linear-gradient(top, #47525e 0%, #313941 100%);
  background-image: linear-gradient(to bottom, #47525e 0%, #313941 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff47525e', endColorstr='#ff313941', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #576774 0%, #5e6f7d 100%);
  background-image: -o-linear-gradient(top, #576774 0%, #5e6f7d 100%);
  background-image: linear-gradient(to bottom, #576774 0%, #5e6f7d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff576774', endColorstr='#ff5e6f7d', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #47525e 0%, #313941 100%);
  background-image: -o-linear-gradient(top, #47525e 0%, #313941 100%);
  background-image: linear-gradient(to bottom, #47525e 0%, #313941 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff47525e', endColorstr='#ff313941', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #627483 0%, #677a8a 100%);
  background-image: -o-linear-gradient(top, #627483 0%, #677a8a 100%);
  background-image: linear-gradient(to bottom, #627483 0%, #677a8a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff627483', endColorstr='#ff677a8a', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #009EDA 0%, #008cc1 100%);
    background-image: -o-linear-gradient(top, #009EDA 0%, #008cc1 100%);
    background-image: linear-gradient(to bottom, #009EDA 0%, #008cc1 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff009eda', endColorstr='#ff008cc1', GradientType=0);
  }
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #F3FAF0 0%, #dcf0d3 100%);
  background-image: -o-linear-gradient(top, #F3FAF0 0%, #dcf0d3 100%);
  background-image: linear-gradient(to bottom, #F3FAF0 0%, #dcf0d3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3faf0', endColorstr='#ffdcf0d3', GradientType=0);
  border-color: #c5e7b7;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #f2f9fc 0%, #d3ebf5 100%);
  background-image: -o-linear-gradient(top, #f2f9fc 0%, #d3ebf5 100%);
  background-image: linear-gradient(to bottom, #f2f9fc 0%, #d3ebf5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f9fc', endColorstr='#ffd3ebf5', GradientType=0);
  border-color: #b4dcee;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #FDF8EE 0%, #f9eacc 100%);
  background-image: -o-linear-gradient(top, #FDF8EE 0%, #f9eacc 100%);
  background-image: linear-gradient(to bottom, #FDF8EE 0%, #f9eacc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf8ee', endColorstr='#fff9eacc', GradientType=0);
  border-color: #f5dcaa;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #FCF4F2 0%, #f5dad3 100%);
  background-image: -o-linear-gradient(top, #FCF4F2 0%, #f5dad3 100%);
  background-image: linear-gradient(to bottom, #FCF4F2 0%, #f5dad3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf4f2', endColorstr='#fff5dad3', GradientType=0);
  border-color: #eebfb4;
}
.progress {
  background-image: -webkit-linear-gradient(top, #bac3cb 0%, #c5cdd4 100%);
  background-image: -o-linear-gradient(top, #bac3cb 0%, #c5cdd4 100%);
  background-image: linear-gradient(to bottom, #bac3cb 0%, #c5cdd4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbac3cb', endColorstr='#ffc5cdd4', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #009EDA 0%, #0079a7 100%);
  background-image: -o-linear-gradient(top, #009EDA 0%, #0079a7 100%);
  background-image: linear-gradient(to bottom, #009EDA 0%, #0079a7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff009eda', endColorstr='#ff0079a7', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #41AD49 0%, #338839 100%);
  background-image: -o-linear-gradient(top, #41AD49 0%, #338839 100%);
  background-image: linear-gradient(to bottom, #41AD49 0%, #338839 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff41ad49', endColorstr='#ff338839', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #4FC1E9 0%, #22b1e3 100%);
  background-image: -o-linear-gradient(top, #4FC1E9 0%, #22b1e3 100%);
  background-image: linear-gradient(to bottom, #4FC1E9 0%, #22b1e3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4fc1e9', endColorstr='#ff22b1e3', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #F5AB35 0%, #eb950c 100%);
  background-image: -o-linear-gradient(top, #F5AB35 0%, #eb950c 100%);
  background-image: linear-gradient(to bottom, #F5AB35 0%, #eb950c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5ab35', endColorstr='#ffeb950c', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #DC3023 0%, #b0261c 100%);
  background-image: -o-linear-gradient(top, #DC3023 0%, #b0261c 100%);
  background-image: linear-gradient(to bottom, #DC3023 0%, #b0261c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc3023', endColorstr='#ffb0261c', GradientType=0);
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #0079a7;
  background-image: -webkit-linear-gradient(top, #009EDA 0%, #0082b4 100%);
  background-image: -o-linear-gradient(top, #009EDA 0%, #0082b4 100%);
  background-image: linear-gradient(to bottom, #009EDA 0%, #0082b4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff009eda', endColorstr='#ff0082b4', GradientType=0);
  border-color: #0082b4;
}
.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
  text-shadow: none;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #92a1ad 0%, #8495a2 100%);
  background-image: -o-linear-gradient(top, #92a1ad 0%, #8495a2 100%);
  background-image: linear-gradient(to bottom, #92a1ad 0%, #8495a2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff92a1ad', endColorstr='#ff8495a2', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #009EDA 0%, #008cc1 100%);
  background-image: -o-linear-gradient(top, #009EDA 0%, #008cc1 100%);
  background-image: linear-gradient(to bottom, #009EDA 0%, #008cc1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff009eda', endColorstr='#ff008cc1', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #41AD49 0%, #3a9a41 100%);
  background-image: -o-linear-gradient(top, #41AD49 0%, #3a9a41 100%);
  background-image: linear-gradient(to bottom, #41AD49 0%, #3a9a41 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff41ad49', endColorstr='#ff3a9a41', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #4FC1E9 0%, #38b9e6 100%);
  background-image: -o-linear-gradient(top, #4FC1E9 0%, #38b9e6 100%);
  background-image: linear-gradient(to bottom, #4FC1E9 0%, #38b9e6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4fc1e9', endColorstr='#ff38b9e6', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #F5AB35 0%, #f4a11d 100%);
  background-image: -o-linear-gradient(top, #F5AB35 0%, #f4a11d 100%);
  background-image: linear-gradient(to bottom, #F5AB35 0%, #f4a11d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5ab35', endColorstr='#fff4a11d', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #DC3023 0%, #c62b20 100%);
  background-image: -o-linear-gradient(top, #DC3023 0%, #c62b20 100%);
  background-image: linear-gradient(to bottom, #DC3023 0%, #c62b20 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc3023', endColorstr='#ffc62b20', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #dde4e6 0%, #ECF0F1 100%);
  background-image: -o-linear-gradient(top, #dde4e6 0%, #ECF0F1 100%);
  background-image: linear-gradient(to bottom, #dde4e6 0%, #ECF0F1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdde4e6', endColorstr='#ffecf0f1', GradientType=0);
  border-color: #cfd9db;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
