{{ if (buttonText) {  } }} {{ if (label) { }}<!-- Button -->
<div class="form-action{{ if (containerClass) { }} {{= containerClass }}{{ } }}">
    <label {{ if (labelClass) { }} class="{{= labelClass }}"{{ } }} for="{{= id }}">{{= label }}</label>
    {{ if ( inputType !== "image" ) { }}<button type="{{= inputType }}" id="{{= id }}" name="{{= id }}"{{ if (cssClass) { }} class="{{= cssClass }}"{{ } }}{{ if(readOnly) { }} readOnly{{ } }}{{ if(disabled) { }} disabled{{ } }}>{{= buttonText }}</button>{{ } else { }}<input type="image" src="{{= src }}" id="{{= id }}" name="{{= id }}"{{ if (cssClass) { }} class="{{= cssClass }}"{{ } }}{{ if(readOnly) { }} readOnly{{ } }}{{ if(disabled) { }} disabled{{ } }}>{{ } }}
</div>
{{ } else { }}<!-- Button -->
<div class="form-action{{ if (containerClass) { }} {{= containerClass }}{{ } }}">
    {{ if ( inputType !== "image" ) { }}<button type="{{= inputType }}" id="{{= id }}" name="{{= id }}"{{ if (cssClass) { }} class="{{= cssClass }}"{{ } }}{{ if(readOnly) { }} readOnly{{ } }}{{ if(disabled) { }} disabled{{ } }}>{{= buttonText }}</button>{{ } else { }}<input type="image" src="{{= src }}" id="{{= id }}" name="{{= id }}"{{ if (cssClass) { }} class="{{= cssClass }}"{{ } }}{{ if(readOnly) { }} readOnly {{ } }}{{ if(disabled) { }} disabled{{ } }}>{{ } }}
</div>
{{ } }}