<!-- Email -->
<div class="form-group{{ if(required) { }} required-control{{ } }}{{ if (containerClass) { }} {{= containerClass }}{{ } }}">
    {{ if (label) { }}<label {{ if (labelClass) { }} class="{{= labelClass }}"{{ } }} for="{{= id }}">{{= label }}</label>{{ } }}
    <input type="email" id="{{= id }}" name="{{= id }}" value="{{= predefinedValue }}"{{ if (pattern) { }} pattern="{{= pattern }}"{{ } }}{{ if (placeholder) { }} placeholder="{{= placeholder }}"{{ } }}{{ if (checkdns) { }} data-check-dns="true"{{ } }}{{ if (cssClass) { }} class="{{= cssClass }}"{{ } }}{{ if (multiple) { }} multiple{{ } }}{{ if(required) {}} required{{ } }}{{ if (unique) { }} data-unique="{{= unique }}"{{ } }}{{ if(readOnly) { }} readOnly{{ } }}{{ if(disabled) { }} disabled{{ } }}>{{ if (helpText) { }}
    <p class="help-block">{{= helpText }}</p>{{ } }}
</div>
